.faq {
  box-sizing: border-box;
  font-size: clamp(0.8rem, 0.7677rem + 0.2581vw, 1em);
  background-color: #aa2dd2;
  padding-block: 1em;
  padding-inline: 4em;
}

@media (max-width: 376px) {
  .faq {
    padding: 2em;
  }
}

.faqhead {
  background-color: #aa2dd2;
  color: black;
  text-align: center;
  font-size: 2rem;
}

.faqcontent li {
  padding: 0.5em;
}

.faqli {
  border: 2px solid #aa2dd2;
  border-radius: 5px;
  overflow: hidden;
}

.login-background {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(89, 9, 121, 1) 35%,
    rgba(255, 151, 0, 1) 100%
  );
}
