* {
  font-size: clamp(0.8rem, 0.7677rem + 0.2581vw, em);
}
.faq {
  margin-inline: 1.5em;
}

.faqimg {
  background-image: url(./images/faqimage.png);
  height: 25vh;
  background-size: cover;
  background-position-y: 660px;
  border-radius: 5px;
  overflow: hidden;
}

.ask {
  padding-left: 4em;
  padding-top: 0.3em;
  border-radius: 5px;
  background-image: url(./images/Vector.png);
  background-repeat: no-repeat;
  background-position-x: 20px;
  background-position-y: center;
  background-size: 15px;
  background-color: rgb(194, 187, 187);
  height: 5vh;
  margin: 0.5em auto;
}

.ask:hover {
  opacity: 0.9;
  cursor: pointer;
}

.panel {
  background-color: rgb(231, 222, 222);
  padding-left: 2em;
  border-radius: 5px;
}
